* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:sans-serif;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	z-index: 100;
	height: 72px;
}

iframe {
	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	transition: 0.5s all;
}

iframe:hover {
	border-color: rgb(180, 51, 51);
	transform: translateY(-5px);
}



img:not(nav img) {
	transition: 0.5s all;
}

.img-border {
	border-style: solid;
	border-radius: 20px;
	border-width: 5px;
	
}

.small-border-radius {
	border-radius: 12px;
}

.medium-border-radius {
	border-radius: 24px;
}

.semi-large-border-radius {
	border-radius: 33px;
}

.large-border-radius {
	border-radius: 66px;
}

.r1 {
  background-color: rgba(149, 9, 9, 1);
}

.r1-gr {
  background: linear-gradient(to right, rgba(149, 9, 9, 0.7), rgba(205, 66, 66, 0.9));
}

.r1-gr-corner {
  background: linear-gradient(135deg, rgba(149, 9, 9, 0.7) 30%, rgba(205, 66, 66, 0.9));
}

.r2 {

}

.r2-gr {

}

hr {

  width: 80%;
}

section {
	min-width: 375px;
	/* min-height: 100dvh; */
	padding-top: 50px;
	padding-bottom: 50px;
	/*display: grid;
	align-content: center;
	place-items: center;*/
	background-color: rgba(0, 0, 0, 0.95);
	color: white;
  /* color: rgba(214, 212, 212, 0.95); */


}

.section-1-offset {
	height: calc(100dvh + 72px);
}

.section-video-text {
	min-height: 65dvh;
	
	div {
		width: 90%;
		min-width: 250px;
		height: 60dvh;
		padding: 10px;


		div {
			margin-left: 10px;
			margin-right: 10px;
			width: 100%;
			
		}

		div .video {
			height: 70%;
		}

		div .text {
			height: 20%;
		}

	}

}

.section-text-image {
	min-height: 65dvh;
	text-align: center;
  /* background-color: aqua; */
  
}
.section-text-image	div {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
}

.section-text-image	div div {
  margin-left: auto;
  margin-right: auto;
  /* border-style: solid;
  border-color: rgba(193, 45, 45, 1); */
}

.section-text-image	.text {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  max-width: 500px;
  min-height: 100px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  
}

.section-text-image hr {
  width: 90%;
  border-width: 3px;
  color: #fff;
}

.section-text-image	div h1 {
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight:bold;
}

.section-text-image	div p {
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 40px;
  font-weight:100;
}

.section-text-image div strong {
  font-weight:700;
  color: rgba(255, 255, 255, 1);

}

.section-text-image	.text > * {
  margin-bottom: 24px;
}

.section-text-image	.image {
  
  max-width: 800px;
  min-width: 200px;
}

.section-columns {
	height: fit-content;
}

.section-single-column {
	text-align: center;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 100%;
}

.column {
	flex: 1;
	text-align: center;
	margin-top: 60px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 60px;
	padding: 20px;
	min-width: 400px;
	max-width: 100%;
	min-height: 400px;
	background-color: rgba(0, 0, 0, 0.2);
	color: whitesmoke;
	line-height: 30px;
	border-radius: 30px;
	transition: 0.6s all;

}

.column.starter:hover {
	transform: translateY(6px);
}

.column.starter img  {
	margin-top: 5%;
}
.column.starter a > img {
	margin-top: 10%;
}
.column.starter h1 { 
	margin-top: 5%;
	margin-bottom: 5%;
	
}

.column.starter a {
	transition: 0.65s all;
	color: rgb(57, 167, 181);
}

.column.starter a:hover {
	color: rgb(187, 231, 231);
}

.column .video {
	height: 50dvh;
	padding-left: 5px;
	padding-right: 5px;
}

.column .text {
	height: 30dvh;
	h1 {
		padding-bottom: 30px;
	}

	h1, span {
		padding-left: 5px;
		padding-right: 5px;
	}
}


.section-small-header-text {
	min-height: 40dvh;
	
	text-align: center;

	div {
		border-radius: 20px;
		width: 65%;
		min-width: none;
		height: 30dvh;
		display: grid;
		align-content: center;
		place-items: center;
		padding-top: 20px;
		padding-bottom: 20px;
		/* background-color: rgb(180, 51, 51); */
		div {


			height: 50%;
			display: flex;
			justify-content: center;
			align-items: center;

		}

	}
}

.section-multiple-items {
	
}

.overflow-x {
	overflow-x: scroll;
	img {
		padding-left: 20px;
		padding-right: 20px;
	}
}


nav {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 1%, rgba(19,19,19,1) 55%, rgba(82,82,82,1) 100%);
	width: 100%;
	padding: 5px 20px;
	display: flex;
	align-items: center;
}

nav a {
	position: relative;
	text-decoration: none;	
}

.navlinks {
	display: flex;
	align-items: center;
	list-style: none;
}

.navlinks li {
	padding: 15px 15px;
	font-size: 20px;
}

nav li a::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: white;
	font-size: 20px;
	transition: 0.3s;
}

nav a:hover::before {
	width: 100%;

}



.dropdown {
	display: inline-block;
}

.dropdown a {
	display: block;
}

.dropdown .dd-content {
	display: none;
	position: absolute;
	color: black;
	min-width: 100px;
	box-shadow: 2px 2px 5px hsl(10%, 10%, 10%, 0.85);
}

.dropdown:hover .dd-content {
	display: block;
}



.logo img{
	width: 60px;
}

.logo a {
	display: flex;
	align-items: center;
	font-size: 20px;
	width: fit-content;
}

.logo {
	flex: 1;
}



.footer-section {
	background: linear-gradient(180deg, rgba(0,0,0,0.8) 1%, rgba(19,19,19,0.9) 55%, rgba(24,24,24,1) 100%);
	color: #fff;
	min-width: 375px;
	min-height: 250px;
	max-height: 500px;
	
}

.footer-page-links {
  display: flex;
  justify-content: left;
}


.footer-page-links li {
	padding-top: 10px;
	padding-bottom: 10px;
	align-self: self-start;
	list-style: none;
}

.footer-page-links li span {
	padding-bottom: 10px;
}

.footer-page-links li a {
	text-decoration: none;
}

.footer-page-links ul {
	height: 200px;
}

.footer-page-links {
	position: relative;
	top: 5px;
}

.footer-top {
	height: fit-content;
}

.footer-top button {
	width: 100px;
	height: 30px;
	border-radius: 4px;
	transition: 0.5s;
}

.footer-top button:hover {
	box-shadow: 6px 4px 6px 4px;
	border-style: solid;
	border-width: none;
}

.footer-top button:active {
	animation: button-jump 1.5s ease-in 0.0s 1 normal both;
}

@keyframes button-jump {
	5% {
		transform: rotateZ(5deg);
	}

	30% {
		transform: translateY(-250px) rotateZ(720deg);
	}

	55% {
		transform: translateY(0px);
	}

	77.5% {
		transform: translateX(150px) translateY(-40px) rotateZ(360deg);
	}

	100% {
		transform: translateX(300px) translateY(0px) rotateZ(900deg);
	}

}

.footer-bottom {
	height: 75px;
	
	border-width: medium;
	border-color: rgba(19,19,19,0.4);
	background-color: rgba(24,24,24, 0.6);
}

footer {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}


.socials-icons {
	width: 150px;
	align-self: self-start;
	justify-content: space-between;
}


 .title {
	width: 380px;
	display: flex;
	justify-content: center;
}

 .title img {
	width: 80px;
	padding-right: 10px;
}

.home-overlay-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	left: 125px;
	color: white;
	max-width: 400px;
	min-height: 300px;
	padding: 25px;
}


.home-overlay-box h {
	font-size: 25px;
	color: rgb(180, 51, 51);
}

.home-overlay-box h2 {
	font-size: 60px;
}

.home-overlay-box .buttons {
	display: flex;
	align-items: center;
	justify-content:space-between;
}


.home-overlay-box button {
	color: white;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	border-radius: 5px;
	transition: 0.3s;
}

.home-overlay-box button:hover {
	font-size: 25px;
	transform: rotateZ(5deg);
	
}

#idk {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: aqua;
	animation-name: spin;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: both;
}

.home-overlay-box button:active {
	font-size: 17px;
	transform: rotateZ(-5deg);
}

.home-overlay-box button:nth-child(1) {
	background: rgb(180, 51, 51);
	border-color: rgb(180, 51, 51);
}

.home-overlay-box button:nth-child(2) {
	border-color: rgb(180, 51, 51);
	background: none;
}

.home-column {
  min-width: 300px;
  max-width: 550px;
  min-height: 475px;
  max-height: 675px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 6px;
  border-bottom-width: 6px;
  border-style: solid;
  border-color: rgba(193, 45, 45, 1);
  /* border-image-source: linear-gradient(135deg, #C12D2D, #5B1515); */
  margin-bottom: 50px;
}

.home-column-box {
  min-width: 300px;
  max-width: 500px;
  min-height: 120px;
  max-height: 2200px;
  border-top-width: 0px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 5px;
  border-style: solid;
  /* border-image-source: linear-gradient(135deg, #C12D2D, #5B1515); */

  border-color: rgba(193, 45, 45, 1);
  margin-bottom: 80px;
}

.home-column-box h2 + span {
  margin-top: 20px;
}

.spline-container {
 
  height: 500px;

  width: 600px;
  border-style: solid;
  margin-bottom: 12px;
}

.spline-description {
  margin-bottom: 60px;
}

.spline-obj {
  width: 100%;
  height: 100%;
}

.spline-image {
  width: 100%;
  height: 100%;
  
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-horizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-all {
	/* display: grid;
	align-content: center;
	place-items: center; */
	display: flex;
  	justify-content: center;
  	align-items: center;
	/* flex-wrap: wrap; */
	flex-direction: column;

}

.grid {
	padding-left: 5%;
	padding-right: 5%;
	display: grid;
	grid-template-rows: repeat(6, 100px);
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	background-color: aqua;
	justify-content: center;
}

.three-row-two-column:nth-child(1) {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.three-row-two-column:nth-child(2) {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.three-row-two-column:nth-child(3) {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}

.three-row-two-column:nth-child(4) {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.three-row-two-column:nth-child(5) {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.three-row-two-column:nth-child(6) {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}



.grid div {
	background-color: red;
}


.logo-images {
	justify-content: space-between;
	min-width: 67.5%;
	min-height: 30vh;
}

.logo-links {
	width: 100%;
	transition: all 0.5s;
	display: flex;
}



.logo-links:hover {
	transform: scale(1.1, 1.1);
}

/* .logo-links:hover :nth-child(1) ~ #background-competition{
	background-color: blue;
} */

.code-showcase > div {
	overflow-y: hidden;
	max-width: 1500px;

}

.code-showcase div text {
	font-size: auto;
}

.code-showcase div:nth-child(2) {
	min-width: 500px;
}

.code-showcase {
	background-color: rgba(19,19,19,0.4);
}

.hidden-left {
	opacity: 0;
	transform: translateX(-100%);
	transition: all 1s;
}

.hidden-right {
	opacity: 0;
	transform: translateX(100%);
	transition: all 1s;
}

.hidden-popup {
	opacity: 0;
	transform: translateY(5%);
	transition: all 1s;
}

.show {
	opacity: 1;
	transform: translateX(0) translateY(0);
}

.delay:nth-child(2) {
	transition-delay: 100ms;
}

.delay:nth-child(3) {
	transition-delay: 200ms;
}

.delay:nth-child(4) {
	transition-delay: 300ms;
}

.delay:nth-child(5) {
	transition-delay: 400ms;
}

.delay:nth-child(6) {
	transition-delay: 500ms;
}

#home-image {
	background-image: linear-gradient(to right, rgba(0,0,0, 0.8), rgba(255, 255, 255, 0.15)), url("images/Drone\ hovering\ over\ water.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 105vh;
}

#contacts-background {
	background-image: linear-gradient(to right, rgba(0,0,0, 0.8), rgba(255, 255, 255, 0.15)), url("images/code-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#contacts-background > * {
	font-size: calc(50px + 5%);
}

#ftc-background {
	background-image: linear-gradient(360deg, rgba(0,0,0, 0.8), rgba(0, 0, 0, 0.2)), url("images/FTC-Arena.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 90dvh;
	text-align: center;
}

#ftc-background h1 {
	font-size: 50px;
	padding-bottom: 50px;
}

#ftc-background span {
	font-size: 30px;
	padding-bottom: 80px;
}

#background-competition {
	background-color: rgba(0, 0, 0, 0.5);
	
}

#news-section-image, #news-section-text {
	max-width: 700px;
	min-width: 500px;
	min-height: 500px;
	text-align: left;
}

#news-section-image {
	margin-bottom: 5%; 
	padding-top: 10%;
}

#news-section-image img{
	border-style: solid;
	border-radius: 4px;
	border-color: rgb(180, 51, 51);
}

#news-section-text {
	margin: 0px;
}

#news-section-text h1 {
	padding-bottom: 10px;
}

#news-section-text span {
	line-height: 25px;
}

#news-article {
	min-height: 80rem;
}

@media (max-width: 600px) {

	header {
		height: 15vh;
	}

	.home-overlay-box {
		position: absolute;
		right: auto;
		left: auto;
	}

	#home-image {
		background-image: none;
		background-color: black;
	}
	
	.section-small-header-text {
		font-size: smaller;
		div {
			width: 70%;
		}
	}

 

}

@media (max-width: 900) {
	.code-showcase {
		flex-direction: column;
	}

	.section-text-image div {
    display: flex;
    flex-direction: column;
  }
	

	

}

a:link {
  color: white;
	text-decoration: none;
	transition: 0.2s;
}

a:visited {
  color: white;
}

a:hover:not(header a) {
  color: rgb(180, 51, 51);
	text-decoration: underline;
}

a:active {
  color: white;
}

@keyframes spin {
	25% {
		transform: rotateZ(15deg);
	}

	50% {
		transform: rotateZ(-45deg);
	}

	100% {
		transform: rotateZ(1440deg);
	}

}

.background-1 {
  background-image: url('https://i.pinimg.com/236x/04/52/e8/0452e800069217c2b2efe9b551d1af4f.jpg');
  background-size:cover;
  
}

.wip {
	width: 100%;
	height: 100dvh;
}


.testspace {
  margin-bottom: 50px;
  width: 350px;
  
  height: 100px;
  transition: all 1s;
}

.testspace .div1, .testspace .div2 {
  transition: 1s;
}

.testspace .div1 {
  display: flex;
  justify-content: center;
}

.testspace .div2 {
  background-color: cadetblue;
  width: 100%;
  height: 100%;
  opacity: 0;

}

.testspace:hover {
  width: 80%;
  height: 80%;

  .div1 {
    padding-top: 20px;
    
  }

  .div2 {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

}